<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo" text-center>GameScore</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable value="home">
      <ion-segment-button value="home" (click)="changeTab()">
        Home
      </ion-segment-button>
      <ion-segment-button value="upcoming" (click)="changeTab()">
        Upcoming
      </ion-segment-button>
      <ion-segment-button value="top" (click)="changeTab()">
        Top 2020
      </ion-segment-button>
      <ion-segment-button value="all" (click)="changeTab()">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="actualGames && actualGames.length>0">
    <div style="display:block; height:10%">
      <h3>Lanzamientos recientes</h3>
      <ion-slides pager="true" [options]="slideshowImages" #slideWithNav2>
        <ion-slide *ngFor="let s of slideshowImages">
          <img src="{{s}}">
        </ion-slide>
      </ion-slides>
    </div>

    <div style="display:block; height:10%">
      <h3>Salon de la fama {{fechaActual.getFullYear()}}</h3>
      <ion-slides pager="true" [options]="slideshowImages2" #slideWithNav2>
        <ion-slide *ngFor="let s of slideshowImages2">
          <img src="{{s}}">
        </ion-slide>
      </ion-slides>
    </div>

    <div style="display:block; height:10%">
      <h3>Salon de la fama {{fechaActual.getFullYear()}}</h3>
      <ion-slides pager="true" [options]="slideshowImages2" #slideWithNav2>
        <ion-slide *ngFor="let s of slideshowImages2">
          <img src="{{s}}">
        </ion-slide>
      </ion-slides>
    </div>

    <!--
  <ion-list>
      <ion-item color="{{color(game)}}" *ngFor="let game of actualGames">{{ game.name }} - {{game.releaseDateText}}</ion-item>
  </ion-list>
  -->
  </div>
</ion-content>