<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title slot="start" class="titulo" style="margin-left: 30%;">GameScore</ion-title>
    <ion-buttons slot="end">
      <ion-thumbnail style="margin-right: 10px; margin-top: 3px" *ngIf="userLoged.id!='0'" (click)="presentModalUsuario()">
        <img style="border-radius: 100%; " src="{{userLoged.image}}">
      </ion-thumbnail>
      <ion-thumbnail style="margin-right: 10px; margin-top: 27px" *ngIf="userLoged.id=='0'">
        Guest
      </ion-thumbnail>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment scrollable>
      <ion-segment-button (click)="changeTab('1')">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>
      <ion-segment-button (click)="changeTab('2')">
        {{fechaActual.getFullYear()}}
      </ion-segment-button>
      <ion-segment-button (click)="changeTab('3')">
        <ion-icon name="search"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="mainControl">
    <h3>Recently launches</h3>
    <ion-slides pager="true" [options]="actualGames" #slideWithNav2>
      <ion-slide *ngFor="let s of actualGames.slice(0,5)">
        <ion-img (click)="goToGame(s.id)" src="{{s.image}}"></ion-img>
      </ion-slide>
    </ion-slides>

    <h3>Upcoming games</h3>
    <ion-slides pager="true" [options]="upcomingGames" #slideWithNav2>
      <ion-slide *ngFor="let s of upcomingGames.slice(0,5)">
        <ion-img (click)="goToGame(s.id)" alt="{{s.releaseDateText}}" src="{{s.image}}"></ion-img>
      </ion-slide>
    </ion-slides>
  </div>

  <div *ngIf=actualYearControl>
    <ion-list>
      <ion-item (click)="goToGame(game.id)" color="{{color(game)}}" *ngFor="let game of actualYearGames">{{ game.name }}
        - {{game.releaseDateText}}
        <h3 slot="end">{{game.mediaScore}}</h3>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf=searchControl>
    <ion-item>
      <ion-label>Choose One</ion-label>
      <ion-select #selectSearch2 id="selectSearch2" name="selectSearch2"
        (ionChange)="changeSelectSearch(selectSearch2.value)" placeholder="Games">
        <ion-select-option value="games" selected>Games</ion-select-option>
        <ion-select-option value="directors">Directors</ion-select-option>
        <ion-select-option value="developers">Developers</ion-select-option>
        <ion-select-option value="publishers">Publishers</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-searchbar [(ngModel)]="searchBar" animated (ionChange)="search($event)"></ion-searchbar>

    <ion-list *ngIf="selectSearch=='games'">
      <ion-item (click)="goToGame(game.id)" name="list" color="{{color(game)}}" *ngFor="let game of searchedGames"> 
        {{ game.name }} -
        {{game.releaseDateText}} <h3 slot="end">{{game.mediaScore}}</h3>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectSearch=='directors'">
      <ion-item color="four" style="border: 1px white solid;" (click)="goToDirector(director.id)" name="list2" *ngFor="let director of searchedDirectors">
        {{ director.name }}
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectSearch=='developers'">
      <ion-item color ="secondary" style="border: 1px white solid;"  (click)="goToDeveloper(developer.id)" name="list3" *ngFor="let developer of searchedDevelopers">
        {{ developer.name }}
      </ion-item>
    </ion-list>

    <ion-list *ngIf="selectSearch=='publishers'">
      <ion-item  color="primary" style="border: 1px white solid;"  (click)="goToPublisher(publisher.id)" name="list4" *ngFor="let publisher of searchedPublishers">
        {{ publisher.name }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar lines=none>
    <ion-card color="tertiary" (click)="goToSuggestions()" text-center>
      <ion-card-title>Do you have any suggestion?</ion-card-title>
    </ion-card>
  </ion-toolbar>
</ion-footer>