.content{
    font-size: large;
    text-align: center;
}

.input{
    position:relative;
    border: 2px;
    border-style: solid;
    border-spacing: 1px;
    height:100px;
}

@import "../../general.css";
