.submenu {
  font-size: 14px;
  height: fit-content;
}


.ion-color-favorite {
  --ion-color-base: #275832;
  --ion-color-base-rgb: 39, 88, 50;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #224d2c;
  --ion-color-tint: #3d6947;
}

.ion-color-four {
  --ion-color-base: #51026D;
  --ion-color-base-rgb: 39, 88, 50;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #51026D;
  --ion-color-tint: #51026C;
}



.ion-color-toolbar {
  --ion-color-base: #4cc4bc;
  --ion-color-base-rgb: 39, 88, 50;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #4cc4bc;
  --ion-color-tint: #4cc4bb;
}


