<ion-header>
  <ion-title>
    GameScore
  </ion-title>
</ion-header>

<ion-content>
  <div padding *ngIf="show">
    <!--Comprobamos si la variable show esta en true, si es asi se muestran los campos-->
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="fruit.name"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del name de la fruta-->
    </ion-item>
    <ion-item>
      <ion-label floating>Cantidad</ion-label>
      <ion-input type="text" [(ngModel)]="fruit.quantity"></ion-input>
      <!--Mediante el atributo ngModel, este campo tendrá el valor del quantity de la fruta-->
    </ion-item>
    <button (click)="saveFruit()" ion-button full>Guardar</button>
    <!--Mediante el atributo click, llamará a nuestra funcion de guardar fruta en home.ts-->
    <button *ngIf="idSelected != 0" (click)="removeSelectedFruit()" ion-button full color="danger">Borrar</button>
    <!--Solo aparecerá si idSelected es diferente a 0, Mediante el atributo click, llamará a nuestra funcion de remove fruta en home.ts-->
  </div>
  <ion-list>
    <button ion-item *ngFor="let fruit of fruits" (click)="selectFruit(fruit.id)">
      <!--Recorremos el array fruits que hemos cargado en el constructor home.ts-->
      Nombre: {{ fruit.name }} | Unidades: {{fruit.quantity}}
      <!--Mostramos el nombre y la cantidad-->
    </button>
  </ion-list>
  <ion-fab bottom right>
    <button (click)="show = !show" ion-fab mini>
      <ion-icon name="add"></ion-icon>
    </button>
    <!--Con este botón mostramos u ocultamos los campos-->
  </ion-fab>
</ion-content>