<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'REGISTER.REGISTER' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-item>
      <ion-label>{{'REGISTER.FIRST_NAME' | translate}}*</ion-label>
      <ion-input type="text" formControlName="first_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Last name*</ion-label>
      <ion-input type="text" formControlName="last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email*</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label style="color: black !important">Media Co.</ion-label>
      <ion-input type="text" disabled formControlName="media_company"></ion-input>
      <ion-button>
        <ion-icon slot="icon-only" name="ios-search" ></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Phone*</ion-label>
      <ion-input type="text" formControlName="tlf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Username*</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password*</ion-label>
      <ion-input type="password" id="password" name="password" formControlName="password"></ion-input>
    </ion-item>

    <!--
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-input (change)="uploadImage($event)" type="file" class="image-upload" accept="image/*">
    </ion-item>
    -->
    <ion-button type="submit" color="primary" expand="block" [disabled]="!registerForm.valid">Submit</ion-button>
  </form>
</ion-content>